body {
    background-color: grey;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

button {
    background-color: cornflowerblue;
    border-radius: 15%;
}
